# Pyterrier - Example Experiment

# Preparation

In [1]:
!pip install python-terrier

Collecting python-terrier
  Cloning https://github.com/terrier-org/pyterrier.git to /tmp/pip-install-ootrg_ul/python-terrier
  Running command git clone -q https://github.com/terrier-org/pyterrier.git /tmp/pip-install-ootrg_ul/python-terrier
Collecting pyjnius~=1.3.0
  Downloading https://files.pythonhosted.org/packages/d8/50/098cb5fb76fb7c7d99d403226a2a63dcbfb5c129b71b7d0f5200b05de1f0/pyjnius-1.3.0-cp36-cp36m-manylinux2010_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 2.8MB/s
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from python-terrier) (1.18.4)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from python-terrier) (1.0.4)
Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Collecting pytrec_eval
  Downloading https://files.pythonhosted.org/packages/36/0a/5809ba805e62c98f81e19d6007132712945c78e7612c11f61bac76a25ba3/pytrec_eval-0.4.tar.gz
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from python-terrier) (4.41.1)
Collecting matchpy
  Downloading https://files.pythonhosted.org/packages/47/95/d265b944ce391bb2fa9982d7506bbb197bb55c5088ea74448a5ffcaeefab/matchpy-0.5.1-py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 6.6MB/s
Collecting deprecation
  Downloading https://files.pythonhosted.org/packages/02/c3/253a89ee03fc9b9682f1541728eb66db7db22148cd94f89ab22528cd1e1b/deprecation-2.1.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: cython in /usr/local/lib/python3.6/dist-packages (from pyjnius~=1.3.0->python-terrier) (0.29.19)
Requirement already satisfied, skipping upgrade: six>=1.7.0 in /usr/local/lib/python3.6/dist-packages (from pyjnius~=1.3.0->python-terrier) (1.12.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->python-terrier) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->python-terrier) (2.8.1)
Collecting multiset<3.0,>=2.0
  Downloading https://files.pythonhosted.org/packages/a8/12/813a649f5bc9801865dc6cda95b8f169f784d996322db192907ebe399064/multiset-2.1.1-py2.py3-none-any.whl
Collecting hopcroftkarp<2.0,>=1.2
  Downloading https://files.pythonhosted.org/packages/6b/56/7b03eba3c43008c490c9d52e69ea5334b65955f66836eb4f1962f3b0d421/hopcroftkarp-1.2.5.tar.gz
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from deprecation->python-terrier) (20.4)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->deprecation->python-terrier) (2.4.7)
Building wheels for collected packages: python-terrier, wget, pytrec-eval, hopcroftkarp
  Building wheel for python-terrier (setup.py) ... done
  Created wheel for python-terrier: filename=python_terrier-0.1.3-cp36-none-any.whl size=29595 sha256=8ce120bd9f33342a9335a6a50c62a7af372b56e009f689b49daceb1076cda604
  Stored in directory: /tmp/pip-ephem-wheel-cache-ge77gm06/wheels/cc/bb/69/836d846a92c787b35ca6478119c0033762ab2b95d866eeb288
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=42f53397a620947fedd9e3dbe6c7fff427cde4b293d81f00ca986bff2e98ccd3
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
  Building wheel for pytrec-eval (setup.py) ... done
  Created wheel for pytrec-eval: filename=pytrec_eval-0.4-cp36-cp36m-linux_x86_64.whl size=273829 sha256=6693a7d374a09011262da29b1f10de490b73fe4b16b869a0840d6e8a86af018a
  Stored in directory: /root/.cache/pip/wheels/58/30/73/8858a1b6e5e2674e2ea85c9904949c06addcf6fd34d59b5ea6
  Building wheel for hopcroftkarp (setup.py) ... done
  Created wheel for hopcroftkarp: filename=hopcroftkarp-1.2.5-py2.py3-none-any.whl size=18092 sha256=f1cc89c23fc8aa59247f7780d7e845e8785daf0cb6246e75e80e163eb85b9fb6
  Stored in directory: /root/.cache/pip/wheels/2b/e1/c9/1993c7f7f114b7d3fb2d3e895e02157a7ebf554861e9e54e01
Successfully built python-terrier wget pytrec-eval hopcroftkarp
Installing collected packages: pyjnius, wget, pytrec-eval, multiset, hopcroftkarp, matchpy, deprecation, python-terrier
Successfully installed deprecation-2.1.0 hopcroftkarp-1.2.5 matchpy-0.5.1 multiset-2.1.1 pyjnius-1.3.0 python-terrier-0.1.3 pytrec-eval-0.4 wget-3.2

# Init 

You must run `pt.init()` before other pyterrier functions and classes

Arguments:
 - `version` - Terrier platform version e.g. `"5.2"`    
 - `mem` - megabytes allocated to Java e.g. `4096`

In [1]:
import pyterrier as pt
if not pt.started():
  pt.init()

/Users/craigmacdonald/opt/anaconda3/lib/python3.8/site-packages/tqdm/std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
PyTerrier 0.4.0 has loaded Terrier 5.4 (built by craigm on 2021-01-16 14:17)

Again, we're using the Dataset interface to quickly access a test collection.

In [2]:
vaswani = pt.datasets.get_dataset("vaswani")

# Experiment

Тhe `experiment` function allows you to perform retrieval and evaluation in a declarative fashoin, allowing a simple function call with multiple retrieval systems to be executed using a single function call.

First create the BatchRetrieve objects with the configurartion that you wish to use

In [3]:
TF_IDF = pt.BatchRetrieve(vaswani.get_index(), wmodel="TF_IDF")
BM25 = pt.BatchRetrieve(vaswani.get_index(), wmodel="BM25")
PL2 = pt.BatchRetrieve(vaswani.get_index(), wmodel="PL2")

Call `pt.Experiment` with the list of retrieval objects, topics, qrels and list of metrics

Optional arguments:    
 - `perquery=False` - Show the results for each query instad of the mean    
 - `dataframe=True` - Return the result as a dataframe if True, or as a dictionary if False
 - `round=4` - round all measures to 4 decimal places

In [4]:
pt.Experiment(
    [TF_IDF,BM25,PL2],
    vaswani.get_topics(),
    vaswani.get_qrels(),
    ['map','ndcg'])

         name       map      ndcg
0  BR(TF_IDF)  0.290905  0.615367
1    BR(BM25)  0.296517  0.621197
2     BR(PL2)  0.276264  0.601225

## Declaring a baseline

Use the `baseline=` kwarg to specify which system should be considered the baseline in this experiment. 
This will enable significance testing (paired t-test), as well as showing the number of queries improved and degraded 
wrt. the baseline.

In [5]:
pt.Experiment(
    [TF_IDF,BM25,PL2],
    vaswani.get_topics(),
    vaswani.get_qrels(),
    ['map','ndcg'],
    baseline=0)

,name,map,ndcg,map +,map -,map p-value,ndcg +,ndcg -,ndcg p-value
0,BR(TF_IDF),0.290905,0.615367,NaN,NaN,NaN,NaN,NaN,NaN
1,BR(BM25),0.296517,0.621197,46.0,45.0,0.237317,45.0,46.0,0.143493
2,BR(PL2),0.276264,0.601225,13.0,77.0,0.008827,17.0,73.0,0.002583

We can also apply correcion for multiple testing. Use the `correction=` kwarg - 'b' is a short hand for 'bonferroni'. The additional columns
"map p-value corrected" "map reject" are added. The former shows what the new, adjusted, p-value is, and the latter shows if the 
null hypothesis can rejected at $\alpha=0.05$.

In [6]:
pt.Experiment(
    [TF_IDF,BM25,PL2],
    vaswani.get_topics(),
    vaswani.get_qrels(),
    ['map','ndcg'],
    baseline=0,
    correction='b')

,name,map,ndcg,map +,map -,map p-value,map reject,map p-value corrected,ndcg +,ndcg -,ndcg p-value,ndcg reject,ndcg p-value corrected
0,BR(TF_IDF),0.290905,0.615367,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,NaN
1,BR(BM25),0.296517,0.621197,46.0,45.0,0.237317,False,0.711951,45.0,46.0,0.143493,False,0.43048
2,BR(PL2),0.276264,0.601225,13.0,77.0,0.008827,True,0.026482,17.0,73.0,0.002583,True,0.00775